{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Confirm Event Detail</h1>
    <div>
        {% if matchCount > 1 %}
        <p class="text-danger">Warning!<p/>
        <h3>There is another similar {{matchCount}} events will happen on the same day </h3>
           

        
        {%endif%}
        {% if matchCount > 0 %}
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>

                        <th>Title</th>
                        <th>Date</th>
                        <th>Time</th>

                        <th>Category</th>
                        
                    </tr>
                </thead>
                <tbody>
            {% for result in matchResults %}
               
                    <tr>
           
                        <td><a href="{{ path('meeting_show', { 'id': entity.id }) }}">{{ entity.title }}</td>
                        <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                       
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.venue.name }}</td>
                      
                     </tr>
            {% endfor %}
       

        {% endif %}

    </div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('M d, Y')}}</td>
            </tr>
             <tr>
                <th>Time</th>
                <td>{{ entity.time|date('g:i a')}}</td>
            </tr>
            <tr>
                <th>End Date</th>
                {% if entity.endDate != null%}
                <td>{{ entity.endDate|date('M d, Y')}}</td>
                 {% else %}   
                 <td>{{ entity.endDate}}</td>
                {% endif%}
            </tr>
            <tr>
                <th>End Time</th>
                {% if entity.endTime != null%}
                <td>{{ entity.endTime|date('g:i a')}}</td>
                {% else %}
                    
                  <td>{{ entity.endTime}}</td>
                {% endif%}
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
           <tr>
         </tbofy>     
        </table>

        <div align="center">
   
    
   
        
            <a class="btn btn-warning" href="{{ path('meeting_edit', { 'id': entity.id }) }}">
                Edit Account
            </a>

            <a class="btn btn-warning" href="{{ path('meeting_show', { 'id': entity.id }) }}">
                Confirm Post Event
            </a>
       
   
    
      </div>
{% endblock %}
