{% extends '::base.html.twig' %}

{% block body -%}
    {% if resultCount > 1 %}
        <h1>{{resultCount}} matching events found</h1>
    {%elseif resultCount == 1%}
        <h1>{{resultCount}} matching event found</h1>

    {% else %}
        <h1>{{noResults}}</h1>
    {%endif%}
    {% if resultCount > 0 %}
        {% for result in searchResults %}
            <div class="row">
                <article class="search-result row">
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a href="eventDetails.html" title="Lorem ipsum" class="thumbnail"><img src="{{asset(result.image.URL)}}" alt="Lorem ipsum" /></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2">
                        <ul class="meta-search">
                            <li><i class="glyphicon glyphicon-calendar"></i> <span>{{result.date|date('M d, Y')}}</span></li>
                            <li><i class="glyphicon glyphicon-time"></i> <span>{{result.time|date('g:i a')}}</span></li>
                            <li><i class="glyphicon glyphicon-user"></i> <span>{{result.organization.name}}</span></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                        <h3><a href="{{path('acmebscene_eventDetail', { 'id' :result.id } )}}"{{result.id}} title="">{{result.title}}</a></h3>
                        <p>{{result.description}} </p>						
                       
                    </div>
                    <span class="clearfix borda"></span>
                </article>
            </div>
        {% endfor %}
    {% else %}
        
    {% endif %}
	<div class="col-xs-12 col-sm-12 col-md-7">
			
			<div id="map"  style="width: 1000px; height: 400px;"></div>
  
  <script>
    // Define your locations: HTML content for the info window, latitude, longitude
    var locations = [
  {% if resultCount > 0 %}
        {% for result in searchResults %}
         ['<h4>{{result.title}}</h4>', {{result.venue.latitude}}, {{result.venue.longitude}}],
      {% endfor %}
          {% endif %}
    ];
    
   
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-37.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var markers = new Array();
    
    var iconCounter = 0;
    
    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {  
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
      
      iconCounter++;
     
    }

    function autoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      for (var i = 0; i < markers.length; i++) {  
				bounds.extend(markers[i].position);
      }
      //  Fit these bounds to the map
      map.fitBounds(bounds);
      var listener = google.maps.event.addListener(map, "idle", function() { 
  if (map.getZoom() > 14) map.setZoom(14); 
  google.maps.event.removeListener(listener); 
});
    }
    autoCenter();
  </script> 
			</div>
{% endblock %}
{% block javascripts %}
     <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endblock %}

