{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Events list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Enddate</th>
                <th>Endtime</th>
                <th>Description</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if resultCount > 0 %}
                {% for result in searchResults %}
                    <tr>
                        <td><a href="{{ path('meeting_show', { 'id': result.id }) }}">{{ result.id }}</a></td>
                        <td>{{ result.title }}</td>
                        <td>{{ result.description }}
                            <ul>
                                <li>
                                    <a href="{{ path('meeting_show', { 'id': result.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('meeting_edit', { 'id': result.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {{ noResults }}
            {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meeting_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
