{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmebscene/css/meeting.css')}}" rel="stylesheet">
{% endblock %}
    
{% block body -%}
    <div class="text-center">
    <h1>Create an Event</h1>
    <p class="lead">All fields marked with * are required</p>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
   
    <div align='center'>
    <table>
        <tr>
            <td colspan='2'>{{ form_row(form.title) }}</td>
        </tr>
         <tr>
             <td>{{ form_row(form.date) }}</td>
        </tr>
        <tr>
             <td>{{ form_row(form.time) }}</td>
        </tr>
        <tr>
             
        </tr>
        <tr>
             <td >{{ form_row(form.endDate) }}</td>
        </tr>
        <tr>
             <td >{{ form_row(form.endTime) }}</td>
        </tr>
       
       
         <tr>
             <td>{{ form_row(form.capacity) }}</td>
        </tr>
          <tr>
             <td>{{ form_row(form.venue) }}</td>
        </tr>
        
        <tr>
             <td>{{ form_row(form.organization) }}</td>
        </tr>
         <tr>
             <td>{{ form_row(form.image) }}</td>
        </tr>
        
        <tr>
             <td>{{ form_row(form.category) }}</td>
        </tr>
         <tr>
             <td>{{ form_row(form.account) }}</td>
        </tr>
        
          <tr>
             <td colspan='2' >{{ form_row(form.description) }}</td>
        </tr>
         <tr>
            <td colspan="3" class="text-center">
                {{ form_row(form._token) }}
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-warning'} }) }}
            </td>
        </tr>
    </table>
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('meeting') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
