{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmebscene/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/acmebscene/css/shop-item.css')}}" rel="stylesheet">
    <link href="http://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body -%}
   

    <!--<table class="record_properties">-->
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
                <!-- Page Content -->
        <div class="container">

            <div class="row">
                
                <div class="col-md-9">
              <div class="thumbnail">
                        <img class="img-responsive" src="http://lorempixel.com/800/300/people" alt="">
                        <div class="caption-full">
                            <h4><a href="#">{{ entity.title }}</a>
                            </h4>
                            <p>{{ entity.description }} </p>
                           
							 
                            <div id="share-buttons">
                                
                              <!-- Facebook -->
                              <a class="fb-share-button" data-href="<?php the_permalink(); ?>" data-layout="button"></a>
                              <br>
                              
                              <!-- Twitter -->
                              
                              <a class="twitter-share-button"  data-count="none" href="<?php the_permalink(); ?>" Tweet> </a>
                              
                              <!-- Google+ -->
                              <link rel="canonical" /> <g:plus action="share" ></g:plus>
                            </div>
                      </div>
                      
                </div>
            <div class="well">
                 <h3>Event Time Details</h3>
                 
                 <p><b>Starting Date:</b>  {{ entity.date|date('Y-m-d') }}</p>
                 <p><b>Starting Time:</b> {{ entity.time|date('H:i') }}</p>
                 <p><b>End Date:</b>  {{ entity.endDate|date('Y-m-d') }}</p>
                 <p><b>End Time:</b> {{ entity.endTime|date('H:i') }}</p>
            </div>
             <div class="well">
				
	         <h4 class="createOrg">Speaker:</h4> <br>
                 <a data-toggle="collapse" href="#collapseSpeaker" aria-expanded="false" aria-controls="collapseSpeaker">Steve Jobs</a>
				  					<p> entrepreneur</p>
                         
					 <h6> <a href="speakerSearch.html">more events for this speaker</a></h6>
					 
        </div>
              <div class="well">
					 <h4>Organization: </h4><a href="Organization.html">Conestoga Collega Institution</a>
				
					
               </div>
              <div class="well">

                    <div class="text-right">
                        <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#addComment">Leave a Review</a>
                        </div>
                        <hr>

                       
                            {% block Comments %}
                                {% if commentCount != 0 %}
                                    {% for item in comments %}
                                         <div class="well">
                                         <div class="row">
                                        <div class="col-md-12">
                                            <span class="pull-right">{{item.commentTime|date('H:i')}}</span>
                                            <p>{{item.comment}}</p>
                                        </div>  
                                        </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                    <p>No Comments</p>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        

                    </div>
        </div>
            <div class="col-md-3">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2895.6973408370573!2d-80.47871339999999!3d43.4669155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf4a1d7cd7f29%3A0xc5f6b0fc00b1a370!2s900+Guelph+St+%23204%2C+Kitchener%2C+ON+N2H+5Z2!5e0!3m2!1sen!2sca!4v1413859469778" width="260" height="310" frameborder="0" style="border:0"></iframe>
                    <div class="well">
                       <p>{{ entity.title }}</p>
                       <p>900 Guelph Street</p>
                       <p>Unit 204</p>
                       <p>Kitchener,ON, N2C 2L8</p>
            </div>
            <div class="col-md-3">
			<!-- 3. Place event data -->
                    <span class="addtocalendar atc-style-blue" >
                        <var class="atc_event">
                            <var class="atc_date_start">{{ entity.date|date('Y-m-d') }} {{ entity.time|date('H:i:s') }}</var>
                            <var class="atc_date_end">{{ entity.endDate|date('Y-m-d') }} {{ entity.endTime|date('H:i:s') }}</var>
                            <var class="atc_timezone">Europe/London</var>
                            <var class="atc_title">{{ entity.title }}</var>
                            <var class="atc_description">{{ entity.description }}</var>
                            <var class="atc_location">Kitchener</var>
                            <var class="atc_organizer">Conestoga College</var>
                            <var class="atc_organizer_email">info@conestogac.on.ca</var>
                        </var>
                    </span>
            </div>
        </div>
            </div>
                            
        </div>
        <div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Comment on this Event</h4>
                     </div>
                     <div class="modal-body">
                        
                        <table>
                            <tr>
                                <td class="text-right">
                                    <label for="username">Username</label>
                                </td>
                                <td>
                                    <input type="text" id="username"  class="form-control" >
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <label for="email">E-Mail Address</label>
                                </td>
                                <td>
                                    <input type="email" id="email" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">
                                    <label for="comment">Comment</label>
                                </td>
                                <td>
                                    <textarea id="comment"  class="form-control" rows="5" required></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-warning">Save changes</button>
                   
                     </div>
                 </div>
            </div>
        </div>
        
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ entity.endTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ entity.capacity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('meeting') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('meeting_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
 {% endblock %}
{% block javascripts %}
 <!--Script for Facebook Share button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Script for Twitter share button -->
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- Script for Google+ share -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
 <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- Calender  script -->
<script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>
{% endblock %}



