{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmebscene/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/acmebscene/css/shop-item.css')}}" rel="stylesheet">
{% endblock %}

{% block body -%}
 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
              <div class="thumbnail">
                        <img class="img-responsive" src="http://lorempixel.com/800/300/people" alt="">
                        <div class="caption-full">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a href="#">{{ entity.title }}</a>
                            </h4>
                            <p>{{ entity.description }} </p>
                           
							 
                            <div id="share-buttons">		
                              <!-- Facebook -->
                              <div class="fb-share-button" data-href="<?php the_permalink(); ?>" data-layout="button_count"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></div>
                              
                              <!-- Twitter -->
                              <a href="http://twitter.com/share?url=<?php echo $encoded_url; ?>&text=Simple Share Buttons&hashtags=simplesharebuttons" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
                              
                              <!-- Google+ -->
                              <a href="https://plus.google.com/share?url=http://www.simplesharebuttons.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
                          </div>
                      </div>
                      
                </div>
            <div class="well">
                 <h3>Event Time Details</h3>
                 <p><b>Starting Date:</b>  {{ entity.date|date('Y-m-d') }}</p>
                 <p><b>Starting Time:</b> {{ entity.time|date('H:i:s') }}</p>
                 <p><b>End Date:</b>  {{ entity.endDate|date('Y-m-d') }}</p>
                 <p><b>End Time:</b> {{ entity.endTime|date('H:i:s') }}</p>
            </div>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ entity.time|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{{ entity.endTime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ entity.capacity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('meeting') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('meeting_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
