{% extends 'base.html.twig' %}
{% block stylesheets %}	
     <link href="{{ asset('bundles/acmebscene/css/bic_calendar.css')}}" rel="stylesheet">
     <link href="{{ asset('bundles/acmebscene/css/heroic-features.css')}}" rel="stylesheet">
{% endblock %}
{% block nav %}
{% endblock %}
    
{% block header %}
     <header class="jumbotron hero-spacer">
                    <h1>Welcome to B-Scene!</h1>
                    <p>B-Scene is a hub for industry professionals to post events and workshops. You can create an account to publish your own or your organization's events. Visitors can search for events, add them to their calendars and share them on their social networks.</p>
                    <p>With B-Scene you can maximize the potential audience for your industry events in the Tri-City area.</p>
                    <a href="{{path('acmebscene_newAccount')}}" class="btn btn-warning">Sign Up Now</a>
     </header>  
    <div class="container">
    <div class="row clearfix">
            <div class="col-md-4 column">
                
            </div>
            <div class="col-md-4 column">
                
                {%if errormessage is defined%}
                 <div class="alert-danger fade in">

                     <strong>{{errormessage}}</strong>
                 </div>
                {%endif%}
               

                <form class="form-signin" method="POST" action="{{path('acmebscene_login')}}">
                  <h2 class="form-signin-heading">Please sign in</h2>
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input type="email"  id="username" name="username" class="form-control" placeholder="Username" required autofocus>
                  <br/>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="remember-me"> Remember me
                    </label>
                   
                  </div>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  <p>
                          <a class="forgot" href="forgetPassword.html">Forgot your password?</a>
                  </p>
                </form>
                <div>
                  

            </div>
            <div class="col-md-4 column">
            </div>
    </div>
</div>

    <!-- calender end-->
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
      <script src="{{ asset('bundles/acmebscene/js/bic_calendar.js')}}"></script>
{% endblock %}
