{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/acmebscene/css/account.css')}}" rel="stylesheet">
{% endblock %}

{% block body -%}
    <div class="text-center">
        <h1>Create Account</h1>
        <p class="lead">All fields marked with * are required</p>
    </div>

    {{ form_start(form, { 'attr': { 'id': 'createAccount' } }) }}
    {{ form_errors(form) }}

    <div align='center'>
        <table>
            <tr>
                <td colspan='2'> {{ form_row(form.username) }}
                    {{ form_row(form.password) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.firstName) }}</td>
                <td>{{ form_row(form.lastName) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.email) }}</td>
                <td>{{ form_row(form.organization) }}</td>
            </tr>

            <tr>
                <td colspan="2">


                    <small class="createOrg">Can't find your organization?
                        <a data-toggle="collapse" href="#collapseOrganization" aria-expanded="false" aria-controls="collapseOrganization">Create a new one</a>
                    </small>
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <div  id="createOrgColumn">
                        <div class="collapse" id="collapseOrganization">
                            <div class="well">
                                <form class="form-group" id="createNew" novalidate>
                                    <table>
                                        <tr>
                                            <td colspan="2" class="text-center">
                                                <h4>Create Organization</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">
                                                <label for="orgName">* Organization Name</label>
                                            </td>
                                            <td class="text-left">
                                                <input type="text" id="orgName" name="orgName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">

                                                <label for="orgUrl">* Organization URL</label>
                                            </td>
                                            <td class="text-left">

                                                <input type="url" id="orgUrl" name="orgUrl">
                                            </td>
                                        </tr>

                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ form_row(form.businessPhone) }}</td>
                <td>{{ form_row(form.url) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.address1) }}</td>
                <td>{{ form_row(form.address2) }}</td>
            </tr>
            <tr>
                <td>{{ form_row(form.city) }}</td>
                <td>{{ form_row(form.province) }}</td>
            </tr>
            <tr>

                <td colspan="2" class="text-center">
                    {{ form_row(form.backupEmail) }}
                    {{ form_row(form.paymentAmount) }}
                    {{ form_row(form.isAdmin) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form._token) }}

                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#confirmDetails">
                        Create Account
                    </button>
                </td>
            </tr>  
        </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="myModalLabel" align='center'>Confirm</h3>
                </div>
                <div class="modal-body">
                    <h4 class='text-center'>Please confirm that your details are correct!</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Edit Details</button>
                    {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-warning'} }) }}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/acmebscene/js/hinclude.js')}}"></script>
    <script src="{{ asset('bundles/acmebscene/js/confirmDetails.js')}}"></script>
    <script type="text/javascript">registerSubmitHandler("createAccount");</script>
{% endblock %}


